.winner-page:not(.cover) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -1.2vw;
    flex: 1 1 auto;
}

.title-winner {
    padding-bottom: 3vh;
}

.container-winner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-winner {
    color: var(--table-color);
    font-size: 1.5vw;
}

thead tr{
    background-color: var(--table-frame);
    border-radius: 16px;
    padding: 0.6vw 2.5vw;
}

th,
td {
    padding: 0.7vw 2vw;
    text-align: center;
}

tr {
    display: flex;
    align-items: center;
    margin: 1.3vw 0;
    padding: 0.6vw 2.5vw;
    border-radius: 16px;
}

th[data-sort-by='wins'],
th[data-sort-by='bestTime'] {
    cursor: pointer;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    width: 3vw;
    text-align: center;
    justify-content: center;
}

tr td:nth-child(2),
tr th:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 1vw;
    position: relative;
}

tr td:nth-child(2) svg {
    position: relative;
    transform-style: preserve-3d;
    margin-bottom: 1.4vw;
    width: 18vw;
    height: auto;
}

tr td:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: -1.1vw;
    left: 0;
    width: 100%;
    height: 1vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 9%);
}

tr td:nth-child(3),
tr th:nth-child(3) {
    min-width: 22vw;
    max-width: calc(100% - 480px);
    flex-grow: 1;
}

tr td:nth-child(4),
tr th:nth-child(4) {
    width: 8vw;
    text-align: center;
    justify-content: center;
}

tr td:nth-child(5),
tr th:nth-child(5) {
    width: 20vw;
}

tbody tr:nth-child(even) {
    background: linear-gradient(180deg, var(--11) 0%, var(--6) 100%);
}

tbody tr:nth-child(odd) {
    background: linear-gradient(180deg, var(--6) 0%, var(--11) 100%);
}

.paginat-win {
    justify-content: flex-start;
    margin: 10vh auto;
}
